.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}

body {
  background-color: transparent !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#pokeachat {
  text-decoration: none;
  color: white;
}

/* .container {
  margin-left: 0 !important;
} */
